:root {
    --black: #2A3139;
    --blue: #2758BE;
    --white: #FFFFFF;
}

@import url(assets/fonts/RNSPhysis/stylesheet.css);

 @font-face {
    font-family: 'blisstwin';
    src: url(assets/fonts/Blisstwin.ttf) format('truetype');
}

p {
    color: #2A3139;
    font-family: 'RNS Physis';
    font-weight: 500;
    font-style: normal;
}

h1, h2, h3, button, a {
  color: #2A3139;
    font-family: 'RNS Physis';
    font-weight: bold;
    font-style: normal;
    letter-spacing: -1px;
}

b {
  font-family: 'RNS Physis';
    font-weight: 900;
    font-style: normal;
}

font, .fancy-font {
  letter-spacing: 0px;
}

h1{
    font-size: 2.5rem;
}

h2{
    font-size: 1.6rem;
}

h3{
    font-size: 1.2rem;
}

p {
    font-size: 1rem;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: calc(10px + 2vmin);
    color: var(--black);
    height: 6rem;
    max-width: 100%;
  }

  .home {
    max-width: 90%;
    margin: auto;
  }
  
  .brand-name-img {
    height: 2rem;
  }
  
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
  }
  
  .nav-item {
    margin: 0 1rem 0 1rem;
    color: #2A3139;
  }
  
  button {
    border: 2px solid #2758BE;
    border-radius: 0.5em;
    cursor: pointer;
    display: inline-block;
    line-height: 1;
    margin: 0;
    letter-spacing: 0px;
  }
  
  button.primary {
    color: #2758BE;
    background-color: white;
    box-shadow: 4px 4px 0px #2758BE;
    font-size: 20px;
    padding: 10px 15px 15px 15px;
  }
  
  button.secondary {
    color: white;
    background-color: #2758BE;
    padding: 10px 13px;
    font-weight: normal;
  }

  button.dark {
    border: 2px solid #2A3139;
    color: #2A3139;
    background-color: white;
    box-shadow: 4px 4px 0px #2A3139;
    font-size: 20px;
    padding: 11px 20px 15px 20px;
  }

  button.dark:hover {
    color: white;
    background-color: #2A3139;
    box-shadow: none;
  }

  button:hover {
    color: white;
    background-color: #2758BE;
    box-shadow: none;
  }
  
  .landing-text {
    position: left;
    width: 90%;
    margin-top: 20%;
  }
  
  .landing-text h2 {
    color: var(--blue);
  }
  
  .socials {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
    max-width: 17%;
  }

a {
  text-decoration: none;
  color: #2758BE;
  font-family: 'RNS Physis';
}

a:hover {
  font-family: 'RNS Physis';
  font-weight: 900;
}

#current-page {
  color: #2758BE;
  font-family: 'RNS Physis';
  font-weight: 900;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-between;
  color: var(--black);
  height: 6rem;
  max-width: 100%;
}

.fancy-font {
    font-family: 'blisstwin';
}

.about-desc {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 0 1% 0;
}


.container {
  padding: 0 7% 0 5%;
  margin: auto;
}

.img-of-me {
  height: 25rem;
  width: auto;
  cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='60' height='72' viewport='0 0 100 100' style='fill:black;font-size:36px;'><text y='50%'>✨</text></svg>") 16 0,auto; 
  box-shadow: 0.7rem 0.7rem 0px var(--black);
  border-radius: 1em;
}

.row-box {
  display: flex;
  flex-direction: row;
  width: 75%;
  justify-content: right;
  align-items: center;
  margin-left: auto;
}

.other-interests {
  width: 50%;
  padding: 0 2rem 1rem 0;
}

.img-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
  width: 50%;
}

.image-box {
  border-radius: 0.5rem;
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 2rem;
}

.project-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin: 2% auto 0 auto;
}

.project-box {
  border-radius: 0.5em;
  border: 2px solid #2A3139;
  box-shadow: 8px 8px 0px #2A3139;
  width: 600px;
  height: 400px;
  object-fit: cover;
  margin-top: 2%;
  cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='60' height='72' viewport='0 0 100 100' style='fill:black;font-size:36px;'><text y='50%'>🧸</text></svg>") 16 0,auto; 
}

.project-desc {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 37rem;
  margin: 3% 0;
}

.desperate-plug {
  padding: 5% 0;
  text-align: center;
}


@media screen and (max-width: 590px) {

  @import url(assets/fonts/RNSPhysis/stylesheet.css);


  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.3rem;
  }

  p {
    font-size: 1rem;
  }

  header {
    flex-direction: column;
    margin-top: 2.3rem;
    align-items: center;
    font-size: 1.3rem;
  }
  
  .landing-text {
    width: 100%;
    margin-top: 45%;
  }
  .socials {
    max-width: 40%;
  }

  .socials img {
    padding-right: 1rem;
  }
  .about-desc {
    flex-direction: column;
    margin-top: 3rem;
  }
  .container {
    padding: 0;
  }
  #overflow-button {
    margin-top: 0.3rem;
  }

  .img-of-me {
    height: 20rem;
  }
  .row-box {
    display: inline;
  }
  .other-interests {
    width: 100%;
  }
  .img-gallery {
    flex-direction: row;
    width: 100%;
    margin-bottom: 2rem;
  }
  .image-box {
    margin-right: 0.5rem;
  }

  footer {
    margin-top: 10%;
  }
  .project-row {
    flex-direction: column;
  }
  .project-desc {
    max-width: 100%;
  }
  .mobile-view {
    max-width: 100%;
  }
  .project-box {
    max-width: 98%;
    height: auto;
  }
}